/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>

// #define QWERTY_BASE 1

#define TBLE_ORTHO   1
// #define TBLE_MIT     1
// #define TBLE_DUAL_2U 1

#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

#define BT(n) BT_SEL n

/ {
    // ! Use this config when you need different keymap for your keyboard except ortho !
    // chosen {
    //     zmk,matrix_transform =
    //         #ifdef TBLE_DUAL_2U
    //            &dual_2u_transform;
    //         #elif defined(TBLE_MIT)
    //            &mit_transform;
    //         #else
    //            &ortho_transform;
    //         #endif
    // };

    macros {
      ZMK_MACRO(thumbs_up,
		wait-ms = <1>;
		tap-ms = <5>;
                bindings = <&kp PLUS &kp COLON &kp PLUS &kp N1 &kp COLON &kp RET>;
		)
    };

    tap_dances {
    	shifty: shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHIFTY";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };
    };

    // Conditional layer only when we have less thumb keys
    #ifdef TBLE_DUAL_2U
        cond_layers {
            compatible = "zmk,conditional-layers";
            tri {
                if-layers = <NUM_L NAV_L>;
                then-layer = <SYM_L>;
            };
        };
    #endif

    keymap {
        compatible = "zmk,keymap";

        // ! Use this config when you need different keymap for your keyboard except ortho !
        //
        // base_layer {
        //     label = "Base";
        //     bindings = <
        //         #ifdef QWERTY_BASE
        //             &kp ESC    &kp Q      &kp W      &kp E       &kp R          &kp T          &kp Y            &kp U          &kp I       &kp O      &kp P         &kp BKSP
        //             &kp TAB    &kp A      &kp S      &kp D       &kp F          &kp G          &kp H            &kp J          &kp K       &kp L      &kp SEMI      &kp QUOT
        //             &kp LSHFT  &kp Z      &kp X      &kp C       &kp V          &kp B          &kp N            &kp M          &kp COMMA   &kp DOT    &kp FSLH      &kp RET
        //         #else
        //             &kp ESC    &kp Q      &kp W      &kp F       &kp P          &kp B          &kp J            &kp L          &kp U       &kp Y      &kp QUOT      &kp BKSP
        //             &kp TAB    &kp A      &kp R      &kp S       &kp T          &kp G          &kp M            &kp N          &kp E       &kp I      &kp O         &kp QUOT
        //             &kp LSHFT  &kp Z      &kp X      &kp C       &kp D          &kp V          &kp K            &kp H          &kp COMMA   &kp DOT    &kp SEMI      &kp RET
        //         #endif
        //         #ifdef TBLE_DUAL_2U
        //         &kp LCTRL  &kp LGUI   &kp LALT   &mo NAV_L         &shifty                        &kp SPACE                &mo NUM_L   &kp LALT   &kp RGUI      &kp RSHIFT
        //         #elif defined(TBLE_MIT)
        //         &kp LCTRL  &mo SYM_L   &kp LGUI  &kp LALT    &mo NAV_L          &kp SPACE                   &mo NUM_L      &kp LEFT    &kp UP     &kp DOWN      &kp RIGHT
        //         #else
        //         &kp LCTRL  &mo SYM_L   &kp LGUI  &kp LALT    &mo NAV_L      &kp SPACE      &kp RET          &mo NUM_L      &kp LEFT    &kp UP     &kp DOWN      &kp RIGHT
        //         #endif
        //     >;
        // };

        base_layer {
            label = "Base";
            bindings = <
            //╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
            //│  ESC      │  Q        │  W        │  E        │  R        │  T        │  Y        │  U        │  I        │  O        │  P        │ BACKSPACE │
                &kp ESC     &kp Q       &kp W       &kp E       &kp R        &kp T      &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BKSP
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│  TAB      │  A        │  S        │  D        │  F        │  G        │  H        │  J        │  K        │  L        │  ; :      │ ' "       │
                &kp TAB     &kp A       &kp S       &kp D       &kp F        &kp G      &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp QUOT
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│   SHIFT   │  Z        │  X        │  C        │  V        │  B        │  N        │  M        │  , <      │  . >      │  / ?      │   ENTER   │
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V        &kp B      &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RET
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │ TAB/SYM_L │ ESC/NUM_L │   SPACE   │  ENTER    │  NAV_L    │           │           │           │           │
                &kp LCTRL   &trans      &trans   &lt SYM_L TAB &lt NUM_L ESC &kp SPACE  &kp RET     &mo NAV_L   &trans      &trans      &trans      &trans
            //╰───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴──────────╯
            >;
        };

        nav_layer {
            label = "Nav";
            bindings = <
            //╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
            //│           │           │           │           │           │           │           │           │           │           │           │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   ←       │   ↓       │   ↑       │   →       │           │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans      &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │  Home     │  PageDown │  PageUp   │   End     │  Insert   │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp HOME    &kp PG_DN   &kp PG_UP    &kp END    &kp INS     &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │           │  BACKSPACE│  DELETE   │           │           │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp BKSP    &kp DEL     &trans      &trans      &trans
            //╰───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────╯
            >;
        };

        num_layer {
            label = "Num";
            bindings = <
            //╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
            //│           │           │           │           │           │           │   (       │   7       │   8       │   9       │   )       │           │
                 &trans      &trans      &trans     &trans       &trans      &trans      &kp LPAR    &kp N7      &kp N8      &kp N9     &kp RPAR     &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   {       │   4       │   5       │   6       │   }       │           │
                 &trans      &trans      &trans     &trans       &trans      &trans      &kp LBRC    &kp N4      &kp N5      &kp N6     &kp RBRC     &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   [       │   1       │   2       │   3       │   ]       │           │
                 &trans      &trans      &trans     &trans       &trans      &trans      &kp LBKT    &kp N1      &kp N2      &kp N3     &kp RBKT     &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │           │   0       │   .       │   ENTER   │           │           │
                 &trans      &trans      &trans     &trans       &trans      &trans      &trans      &kp N0      &kp DOT     &kp RET     &trans      &trans
            //╰───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────╯
            >;
        };

        sym_layer {
            label = "Sym";
            bindings = <
            //╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
            //│           │           │           │           │           │           │   +       │   &       │   *       │   `       │   \       │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp PLUS    &kp AMPS    &kp STAR    &kp GRAVE   &kp BSLH    &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   =       │   $       │   %       │   ^       │   |       │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp EQUAL   &kp DLLR    &kp PRCNT   &kp CARET   &kp PIPE    &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   _       │   !       │   @       │   #       │   ~       │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp UNDER   &kp EXCL    &kp AT      &kp HASH    &kp TILDE   &trans
            //├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
            //│           │           │           │           │           │           │   -       │           │           │           │           │           │
                 &trans      &trans      &trans      &trans      &trans      &trans      &kp MINUS   &trans      &trans      &trans      &trans      &trans
            //╰───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────╯
            >;
        };

    };
};